<div class="container text-center">
    <h1>I want to travel the world</h1>
    <h4>And breathe the air of new places</h4>
    <p class="pt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est arcu, pulvinar et efficitur non,
        fringilla at
        magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum congue,
        nibh ut tempor venenatis, purus diam convallis libero, et auctor mi turpis eu mauris. Proin tortor odio,
        fermentum ac diam eu, consectetur rhoncus magna. Sed augue sapien, efficitur ut lectus quis, malesuada consequat
        sem. Quisque viverra diam vitae lacus volutpat congue eget id ligula. Curabitur cursus lacinia ligula, a viverra
        ipsum feugiat id. Cras porttitor congue magna eu lobortis. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Donec dignissim tincidunt sem nec volutpat. Nam vitae laoreet libero,
        sed euismod arcu. Vivamus ut justo faucibus, feugiat tellus in, iaculis ante.</p>
</div>

<div class="section1 mt-5">
    <h4><span class="text-primary">About</span> the site</h4>
    <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est arcu, pulvinar et efficitur non,
        fringilla at
        magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <img class="img-fluid img-thumbnail rounded" src="https://www.goturkey.com//assets/uploads/blog/unmissable-mountains-hero.png"
        alt="mountains">
    <div class="row justify-content-around mt-4">
        <div class="col-5">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est arcu, pulvinar et efficitur non,
                fringilla at magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec dignissim tincidunt sem nec volutpat. Nam vitae laoreet libero, sed euismod arcu.</p>
        </div>
        <div class="col-5">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est arcu, pulvinar et efficitur non,
                fringilla at magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec dignissim tincidunt sem nec volutpat. Nam vitae laoreet libero, sed euismod arcu.</p>
        </div>
    </div>
</div>
<div class="section2 mt-5">

    <div class="row justify-content-around mt-4">
        <div class="col-6">
            <h4><span class="text-primary">Me Myself and I</span> the story of me:</h4>
            <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est arcu, pulvinar et
                efficitur non, fringilla at
                magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum
                congue,
                nibh ut tempor venenatis, purus diam convallis libero, et auctor mi turpis eu mauris. Proin tortor odio,
                fermentum ac diam eu, consectetur rhoncus magna. Sed augue sapien, efficitur ut lectus quis, malesuada
                consequat
                sem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est arcu, pulvinar et efficitur non,
                fringilla at
                magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum
                congue,
                nibh ut tempor venenatis, purus diam convallis libero, et auctor mi turpis eu mauris. Proin tortor odio,
                fermentum ac diam eu, consectetur rhoncus magna. Sed augue sapien, efficitur ut lectus quis, malesuada
                consequat
                sem.</p>
        </div>
        <div class="col-4">
            <img class="img-fluid img-thumbnail rounded" src="https://s3.envato.com/files/248049232/06260%20USA%202015%20_MG_6902.jpg"
                alt="mountains">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="panel panel-default widget">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span>
                    <h3 class="panel-title">
                        Recent Comments</h3>

                </div>
                <div class="panel-body bg-transparent">
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent">
                            <div class="row">
                                <div class="col-xs-2 col-md-1">
                                    <img src="http://placehold.it/80" class="img-circle rounded img-responsive"
                                        alt="" /></div>
                                <div class="col-xs-10 col-md-11">
                                    <div>
                                        <a>Thanks for sharing</a>
                                        <div class="mic-info">
                                            By: <a href="">John Doe</a> on 22 Oct 2020
                                        </div>
                                    </div>
                                    <div class="comment-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est arcu,
                                        pulvinar et efficitur non, fringilla at
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <div class="row">
                                <div class="col-xs-2 col-md-1">
                                    <img src="http://placehold.it/80" class="img-circle rounded img-responsive"
                                        alt="" /></div>
                                <div class="col-xs-10 col-md-11">
                                    <div>
                                        <a>Great Post</a>
                                        <div class="mic-info">
                                            By: <a href="">Jane Doe</a> on 13 Oct 2020
                                        </div>
                                    </div>
                                    <div class="comment-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est arcu,
                                        pulvinar et efficitur non, fringilla at
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <div class="row">
                                <div class="col-xs-2 col-md-1">
                                    <img src="http://placehold.it/80" class="img-circle rounded img-responsive"
                                        alt="" /></div>
                                <div class="col-xs-10 col-md-11">
                                    <div>
                                        <a>Enjoyed reading your post</a>
                                        <div class="mic-info">
                                            By: <a href="">Bhaumik Patel</a> on 11 sep 2020
                                        </div>
                                    </div>
                                    <div class="comment-text">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>